body {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/bg-resized.jpg);
}


.wrapper {
  max-width: 800px;
  margin: 100px auto;
  background: white;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #bfbfbf;
}

.logo {
  width: 250px;
  height: 70px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/logo.svg) no-repeat;
  margin: 0 auto;
}

label {
  display: block;
  margin: 20px 0 5px;
}

input:not(.button), textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

textarea {
  min-height: 150px;
}

p {
  text-align: center;
  margin: 30px 0;
}

.buttonrow {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 5px 40px;
  overflow: hidden;
}

.button {
  display: inline-block;
  border: none;
  background-color: #e59f2e;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
  transition: background-color 300ms;
}

.greenbutton {
  display: inline-block;
  border: none;
  background-color: #00e600;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
  transition: background-color 300ms;
}

.redbutton {
  display: inline-block;
  border: none;
  background-color: #ff4d4d;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
  transition: background-color 300ms;
}
.button:hover {
  background-color: #be7e18;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color:#4CAF50;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS Document */
.inner { margin:0 ; width:500px; padding:0px; background:#fff; }
/* TABLES */


/*BOX STYLE*/
table.box-style {font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;min-width:700px;text-align:left;border-collapse:collapse;margin-bottom:25px; }
table.box-style th {font-size:14px;font-weight:normal;background:#ccc;border-top:4px solid #ddd;border-bottom:1px solid #fff;color:#666666;padding:10px;}
table.box-style td {background:#f9f9f9;border-bottom:1px solid #fff;color:#999;border-top:1px solid transparent;padding:8px 10px;}
table.box-style tr:hover td {background:#eee;color:#444;}