<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HuddleMail form</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "normalize" %>
</head>

<body>
<div class="wrapper">
  <div class="logo"></div>
  <h2>Welcome to HuddleMail, try our service out below</h2>
  <form class="main">
    <input class="button" type="button" value="Register">
    <input class="button" type="button" value="Log In">
  </form>
</div>
</body>

</html>
