<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HuddleMail form</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "normalize" %>
</head>

<body>
<div class="wrapper">
  <div class="logo"></div>
  <h2>Log in to HuddleMail</h2>
  <form class="main">
    <label for="email-address">Email</label>
    <input name="email-address" type="email">
    <label for="password">Password</label>
    <input name="password" type="password">
  </form>

  <%= button_to 'Back', {:action => 'index'}, class: 'button',:method => :get %>
  <%= button_to 'Log in', {:action => 'login'}, class: 'button', :method => :get %>

</div>
</body>

</html>
