<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HuddleMail form</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "normalize" %>
</head>

<body>
<div class="wrapper">
  <div class="logo"></div>
  <br>
  <br>
  <br>
  <br>
  <h1>SUCCESS!!!!!!</h1>

  <%= button_to 'Back', {:action => 'index'}, class: 'button',:method => :get %>

</div>
</body>

</html>
