<!DOCTYPE html>
<html>

<body>
 <div class="logo"></div>

  <%= yield -%>
  <h2>Welcome to HuddleMail, try our service out below</h2>
  <%= button_to 'Register', users_registrations_new_path, class: 'button',:method => :get %>
  <%= button_to 'Log In', users_sessions_new_path, class: 'button', :method => :get %>

</body>

</html>
