<h1>Listing Distribution Groups</h1>

<table cellspacing='0'>
  <thead>
  <tr>
    <th>Name</th>
    <th>Public Key</th>
  </tr>
  </thead>

  <% @dist_groups.each do |dist_group| %>
      <tbody>
      <tr>
        <td><%= dist_group.email %></td>
        <td><%= dist_group.pub_key %></td>
        <td><%= link_to "Show", recipient_show_path %></td>
      </tr>
      </tbody>
  <% end %>
</table>

<br>

<%= link_to "Make a New Group", recipient_new_path %>